:root {
  --primary: rgb(199, 106, 0);
  --secondary: rgb(59, 170, 15);
  --tertiary: rgb(130, 9, 155);
  --light: rgb(119, 112, 112);
  --dark: rgb(133, 129, 129);
  --error: rgb(196, 39, 0);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}


/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
} */

